@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
   --a:0;
}
* {
   margin: 0px;
   padding: 0px;
   font-family: "Roboto", sans-serif;
}

body {
   background-color: black;
   color: white;
}

.left {
   width: 25vw;
   padding: 10px;
}

.right {
   width: 75vw;
   margin: 16px 0px;
   position: relative;
}

.close {
   display: none;
}

.home ul li {
   display: flex;
   width: 14px;
   list-style: none;
   gap: 15px;
   padding: top 14px;
   font-weight: bold;
}

.heading {
   display: flex;
   width: 100%;
   gap: 15px;
   padding-top: 14px;
   padding: 23px 14px;
   font-weight: bold;
   align-items: center;
   font-size: 13px;
}

.heading img {
   width: 30px;
}

.heading h2 {
   width: 60px;
}

.library {
   min-height: 80vh;
   position: relative;
}

.footer {
   display: flex;
   font-size: 10px;
   color: grey;
   gap: 13px;
   position: absolute;
   bottom: 0;
   padding: 10px;
}

.footer a {
   color: grey;
}

.header {
   display: flex;
   justify-content: space-between;
   background-color: rgb(34, 34, 34);
}

.header>* {
   padding: 20px;
}

.spotifyPlaylist {
   padding: 16px;
}

.spotifyPlaylist h1 {
   padding: 16px;
}

.cardContainer {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   margin: 20px;
   overflow-y: auto;
   max-height: 55vh;

}
.empty{
   width: 15px;
   height: 15px;
}
.card {
   width: 200px;
   padding: 10px;
   border-radius: 5px;
   background-color: #252525;
   position: relative;
   transition: all .9s;
}
.card:hover{
   background-color: rgb(105, 105, 105);
   cursor: pointer;
   --a: 1
}

.card>* {
   padding-top: 10px;
}
.card img {
   width: 100%;
   object-fit: contain;
}

.play {
   width: 38px;
   height: 38px;
   background-color: #1fd164;
   border-radius: 50%;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
   overflow: hidden;
   position: absolute;
   bottom: 108px;
   right: 17px;
   opacity: var(--a);
   transition: all 1s ease-out;
}



.play svg {
   width: 25px;
   height: 25px;
   display: block;
}

.buttons>* {
   margin: 0 12px;
}

.Signupbtn {
   background-color: rgb(34, 34, 34);
   color: rgb(156, 148, 148);
   font-weight: bold;
   border: none;
   outline: none;
   cursor: pointer;
   font-size: 16px;
}

.Signupbtn:hover {
   font-size: 17px;
   color: white
}

.Loginbtn {
   background-color: white;
   border-radius: 21px;
   color: black;
   font-weight: bold;
   padding: 10px;
   width: 70px;
   font-size: 16px;
   cursor: pointer;
}

.Loginbtn:hover {
   font-weight: bold;
   font-size: 17px;
}

.playbar {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   bottom: 30px;
   filter: invert(1);
   background: #dad5d5;
   border-radius: 30px;
   width: 90%;
   padding: 12px;
   width: 70vw;
   min-height: 40px;
}

.hamburger {
   display: none;
   cursor: pointer;
}

.hamburgercontainer {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 14px;
}

.songbuttons {
   display: flex;
   justify-content: center;
   gap: 16px;
}

.songlist ul {
   padding: 0px 12px;
}

.songlist ul li {
   list-style-type: decimal;
   display: flex;
   justify-content: space-between;
   gap: 12px;
   cursor: pointer;
   padding: 12px 0px;
   border: 1px solid white;
   margin: 12px 0;
   padding: 13px;
   border-radius: 5px;
}

.songlist {
   height: 450px;
   overflow: auto;
   margin-bottom: 44px;

}

.songlist .info {
   font-size: 12px;
   width: 344px;
}

.info div {
   word-break: break-all;
}

.playnow {
   display: flex;
   justify-content: center;
   align-items: center;
}

.playnow span {
   font-size: 15px;
   width: 64px;
   padding: 12px;
}

.seekbar {
   height: 4px;
   width: 96%;
   background-color: black;
   position: absolute;
   bottom: 8px;
   border-radius: 10px;
   margin: 6px;
   cursor: pointer;
}

.circle {
   width: 13px;
   height: 13px;
   background-color: black;
   border-radius: 10px;
   position: relative;
   bottom: 6px;
   left: 0%;
   transition: left 0.5s;
   cursor: pointer;
}

.songbuttons img {
   cursor: pointer;
}

.timevol {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.songinfo {
   color: black;
   padding: 0px 12px;
   width: 250px;
}

.songtime {
   color: black;
   padding: 0px 12px;
   width: 125px;
}

.volume {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px;
   cursor: pointer;
}
.range input{
   cursor: pointer;
}

.abovebar {
   display: flex;
   justify-content: space-between;
   margin: 20px 0px;
}

@media (max-width: 1200px) {
   .left {
      position: absolute;
      left: -130%;
      transition: all .3s;
      z-index: 1;
      width: 370px;
      background-color: black;
      padding: 0px;
      height: 100vh;
      position: fixed;
      top: 0;
   }

   .left .close {
      position: absolute;
      right: 31px;
      top: 25px;
      width: 30px;
      display: block;
   }

   .right {
      width: 100vw;
   }

   .playbar {
      width: calc(100vw - 75px);
   }

   .seekbar {
      width: calc(100vw - 75px);
   }

   .hamburger {
      display: block;
   }

   .right {
      margin: 0px;
   }

   .card {
      width: 44vw;
   }

   .songinfo {
      width: auto;
   }

   .songtime {
      width: auto;
   }

   .cardContainer {
      margin: 0px;
      justify-content: center;
   }

   .abovebar {
      flex-direction: column;
      gap: 23px;
      align-items: center;
   }

   .timevol {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 13px;
   }
   .cardContainer{
      height: 50vh;
   }
   .cardContainer{
      max-height: unset;
      overflow-y: unset;
      margin-bottom: 30vh;
   }
      .playbar{
      right: 25px;
   }

}
@media (max-width: 500px){
   .card{
      width: 100%;
   }
   .header>*{
      padding: 2px;
   }
   buttons>*{
      margin: 0px 6px;
   }
   .header{
      padding: 7px;
   }
   .spotifyPlaylist h1{
      padding: 4px;;
   }
   .library{
      height: 85vh;
   }
   .left{
      position: fixed;
      top: 0;
      width: 100vw;
   }
}